body{
    background-image:url(https://i.pinimg.com/736x/14/2a/af/142aaf0a30cccdbde967540fa053371a.jpg);
    font-size: 18px;
    color: #334155;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.wrapper{
    background-color: rgba(238, 242, 246, 0.9);
    margin: 50px 300px;
    padding: 25px 35px;
    border: 5px dotted rgb(173, 182, 190);
}
h1, h2{
    text-align: center;
}
h1{
    font-size: 40px;
    font-style: oblique;
}
h2{
    font-size: 30px;
    font-style: italic;
}
.float{
    float:left;
    margin-right: 20px;
    margin-bottom: 5px; 
}
.pic-text::after{
    content: "";
    display: table;
    clear: both;
}
#me-pic{
    width:30%;
    border: 5px dotted rgb(173, 182, 190);
    border-radius: 10px;
    max-width: 500px;
}
.lists{
    list-style-position: inside;
}
.tile{
    height: 80px;
    width: 80px;
}
.nav-all{
    text-align: center;
}
.nav{
    display:inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    text-align: center;
}

a{
    color: black;
}
a:hover{
    color:brown;
}

